.cartWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  height: 80vh;
  overflow: auto;
  padding: 50px 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

.active, .inActive {
  width: 100%;
  margin: 20px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.checkbox {
  color: gray;
  height: 20px;
  width: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.addToCart {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  width: 100%;
}

.inputAdd {
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;
  padding: 10px;
  color: white;
  font-size: 25px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;

  &::placeholder {
    font-style: italic;
    color: rgba(white, 0.6);
  }

  &:focus {
    outline: none;
  }
}

.visibleAddEntry {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.addToCartButton {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  border: none;
  padding: 5px 15px;
  font-weight: bold;
  background-color: #4bcffa;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  line-height: 0;

  &:focus {
    outline: none;
  }
}

.categorySwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  border: none;
  color: white;
  background-color: transparent;
  padding: 7px 15px 3px;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;

  &:focus {
    outline: none;
  }
}