html {
  background: #292929;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.first {
  background-image: linear-gradient(to bottom left, #3c40c6, #4bcffa);
  color: white;
}

.second {
  background-image: linear-gradient(to bottom right, #4bcffa, #05c46b);
  color: white;
}

.third {
  background-image: linear-gradient(to bottom left, #05c46b, #ffc048);

  color: white;
}

.fourth {
  background-image: linear-gradient(to bottom right, #ffc048, #ff5e57);
  color: white;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
}