.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background-color: #3c40c6;
}

.second {
  background-color: #4bcffa;
}

.third {
  background-color: #05c46b;
}

.fourth {
  background-color: #ffc048;
}